@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
.card {
    box-shadow: 0 2px 5px rgb(0 0 0 / 5%);
    border-radius: 8px !important;
    margin-bottom: 0px !important;
    background-color: #fff;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem;
}

.reply {
    background: #F3F3F4;
    border-radius: 6px;
    border: none;
    width: 100%;
    margin-left: 15px;
}